/* .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    font-size: 0.8rem;
    color: #888;
    position: fixed;
    bottom: 0;
    width: 100%;
}  */


main {
    flex: 1;
}

.footer{
    height: 50px;
    background:#f0f0f0;
    border-top:1px solid #ddd;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
    color:#666;
    position: fixed;
    bottom: 0;
    width: 100;
}